# Ignore virtual environment
cuda-keyring_1.1-1_all.deb
kobenet/


# Ignore Python bytecode files
*.pyc

# Ignore __pycache__ directories
__pycache__/

# Ignore logs
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore any other common files
*.DS_Store
*.env
*.vscode/
results/*.pth
